<div>
    <form action='/moviemeet/new' method = 'POST'>
        <label>movietitle</label>
        <input type = 'text' name = 'movieTitle' value = '<%= movieDate.movieTitle%>'>
        <br>
        <label>date</label>
        <input type = 'date' name = 'date' value = '<%= movieDate.date%>'>
        <br>
        <label>cinema</label>
        <input type = 'text' name = 'cinema' value = '<%= movieDate.cinema%>'>
        <br>    
        <label>participant</label>
        <input type = 'text' name = 'participant' value = '<%= movieDate.participant %>'> 
    
    <button type = "submit" >Make!</button>
    </form>
</div>